<h1>Héroes</h1>
<hr>
<div class="ui cards mt-3 card-columns centered">


  <div class="card animated fadeIn fast" *ngFor="let hero of heroes">
    <div class="image">
      <img [src]="hero.img">
    </div>
    <div class="content">
      <div class="header">{{hero.nombre}}</div>
      <div class="meta">
        <span class="date">{{hero.aparicion}}</span>
      </div>
      <div class="description">
        {{hero.bio | slice : 0 : 150}}...
      </div>
    </div>
    <div class="extra content">
      <span class="floated">
        <!-- <button
          (click)="verHeroe(hero._id)"
          type="button"
          class="btn btn-outline-primary btn-block">
          Ver más...
        </button> -->
        <a [routerLink]="['/hero', hero._id]" class="btn btn-outline-primary btn-block">Ver más...</a>
      </span>
    </div>
  </div>


</div>
