<h1>Héroes</h1>
<hr>
<div class="ui cards mt-3 card-columns centered">
  <div class="card">
    <div class="image">
      <img src="assets/img/Batman.png">
    </div>
    <div class="content">
      <div class="header">BATMAN</div>
      <div class="meta">
        <span class="date">Joined in 2013</span>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="floated">
        <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
      </span>
    </div>
  </div>
  <div class="card">
    <!-- <img src="" class="card-img-top" alt="..."> -->
    <img src="assets\img\Deadpool.png" class="card-img-top" alt="">

    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
